html {
    background: rgb(240,240,240);
}

body {
    justify-self: center;
    margin: 0;
    width: 600px;
    height: auto;
    border: 1px solid rgb(150,150,150);
    font-family: Smythe;
    background: white;

}

header {
    background-image: url("/headerIMG.png");
    background-size: cover;
    width: 600px;
    height: 167px;
    color: white;
    align-content: center;
}

#diner {
    font-size: 39px;
    margin: 10px 0 0 46px;
}

#tagline {
    font-size: 23px;
    margin: -15px 0 0 46px;
}

#items-container {
    justify-items: center;
    display: block;
}

.items {
    width: 508;
    height: 140;
    border-bottom: 1px solid rgb(200,200,200);
    display: flex;
    align-items: center;
}

.image {
    height: 60%;
    margin-right: 20px; 
}

.name {
    margin: 0 0 5px 0;
    font-size: 28;
}

.ingredients {
    margin: 0 0 10px 0;
    font-size: 16;
    color: gray;
}

.price {
    margin: 0;
    font-size: 20;
}

.additem {
    height: 50px;
    width: 50px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 0px;
    margin-left: auto;
    font-size: 32px;
    font-family: inter;
    background: white;
    text-align: center;
}

.additem:hover {
    color: rgb(80,80,80);
    border: 1px solid rgb(150,150,150);
}

.additem:active {
    color:  rgb(150,150,150);
    border: 1px solid rgb(200,200,200);
}

#order-container {
    font-size: 28;
    width: 508;
    justify-self: center;
    text-align: center;
}

#your-order {
    text-align: center;
}

#price-container {
    display: flex;
    
}

#total-price {
    margin-right: 0;
    margin-left: auto;
}

#complete-btn {
    width: 508;
    height: 60;
    background: rgb(22,219,153);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

#complete-btn:hover {
    background: rgb(0, 195, 140);
}

#complete-btn:active {
    background: rgb(16,205,145);
}

.items-selected {
    display: flex;
    margin: 0 0 10px 0;
}

.selected-price {
    margin: 0;
    margin-right: 0;
    margin-left: auto;
    font-size: 22px;
}

.selected-name {
    margin: 0;
}

.remove-btn {
    border: none;
    background: none;
    color: gray;
}

.remove-btn:hover {
    color: lightgray;
}

.remove-btn:active {
    color: gray;
}

#payment-modal {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 542px;
    width: 524px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 30px rgb(150,150,150, .5);
    background: white;
    justify-items: center;
    font-family: arial;
}

#form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

input {
    width: 471px;
    height: 71px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5%;
    font-size: 16px;
}

#modal-header {
    font-size: 24px;
    margin-top: 5px;
}

#placeOrderBtn {
    width: 471px;
    height: 71px;
    background: rgb(22,219,153);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 12px;
}

#placeOrderBtn:hover {
    background: rgb(0, 195, 140);
}

#placeOrderBtn:active { 
    background: rgb(16,205,145);
}

.not-hidden {
    display:block;
}

.hidden {
    display: none;
}

#close-modal {
    background: none;
    border: none;
    margin-left: 460px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 16px;
}

#close-modal:hover {
    color: rgb(200,80,80);
}

#final-text{
    font-size: 18px;
    text-align: center;
}

.ordered{
    color: rgb(6, 95, 70);
    background: rgb(236,253,245);
    width: 10px;
    height: 80px;
    align-content: center;
    margin-top: 25px;
    border-radius: 20px;
    font-size: 22px !important;
    font-family: Arial;
}
